.collection-preview
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.collection-preview .title
{
    font-size: 28px;
    margin-bottom: 25px;
}

.collection-preview .preview
{
    width: 100%;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-x: auto;
    overflow-y: hidden;
}
