.collection-preview
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.collection-preview .title
{
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
    font-style: italic;
}

.collection-preview .collection-see-more
{
    display: block;
    align-items: right;
    justify-content: right;
    float: right;
    font-size: 22px;
    font-style: italic;
    cursor: pointer;
}

.collection-preview .preview
{
    width: 100%;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-x: auto;
    overflow-y: hidden;
}
