.group
{
    position: relative;
    margin: 10px 0;
    width: 80%;
}

.group .form-input
{
    background: none;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    margin: 25px 0;
}

.group .form-input:focus
{
    outline: none;
}