.group
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0px;
}

.group .form-input
{
    background: none;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 2px 0;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    margin: 7px 0;
}

.group .form-input:focus
{
    outline: none;
}